

<!-- </head>
<body>
    <div id='header'>
        <a href='/' class='logo'>My shop</a>
    </div>
    <div id='subheader'>
        <div class='cart'>
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                Your cart:
                <a href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
                {% endwith %}
        </div>
    </div> 
    <div id='content'>
    {% block content %}{% endblock %} -->
    <!-- </div>



</body>
</html>                                                                     -->